:root {
  --u: 40px;
  --pix-per-note: 12px;
  --slider-w: calc(var(--u) * 4);
  --label-w: calc(var(--u) * 1.5);
  --piano-w: calc(var(--u) * 1.25);
}

body {
  background-color: black;
  color: white;
  padding-top: calc(var(--u) * 1.75);
  overflow-x: hidden;
}

button {
  border: calc(var(--u) * 0.025) solid black;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button img {
  pointer-events: none;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.centred {
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

.justified {
  justify-content: space-between;
}

#header {
  z-index: 100;  
  background-color: black;
  position: fixed;  
  top: 0;  
  left: 0;  
  width: 100%;  
  display: flex;
  flex-direction: row;
}

#title {
  margin: calc(var(--u) * 0.25);
}

.header-button {
  background-color: black;
  width: calc(var(--u) * 2.5);
  margin: calc(var(--u) * 0.25);
}

.component-border {
  border: calc(var(--u) * 0.125) groove rgb(68, 14, 14);
}

#voices-container {
  overflow-x: auto;
  overflow-y: hidden;
}

#voices {
  z-index: 100;  
  background-color: black;
  position: sticky;  
  top: calc(var(--u) * 1.75);  
  left: 0;  
  width: 100%;  
  display: flex;
  flex-direction: row;
}

.voice {
  width: fit-content;
  height: fit-content;
  font-size: calc(var(--u) * 0.35);
  padding: calc(var(--u) * 0.125);
  text-align: center;
}

.sliders {
  padding-bottom: calc(var(--u) * 0.125);
}

.slider {
  width: var(--slider-w);
  margin: calc(var(--u) * 0.25) calc(var(--u) * 0.125);
  text-align: center;
}

.slider-label {
  text-align: right;
  width: calc(var(--u) * 1.25);
  display: flex;  
  align-items: center;  
  justify-content: right;  
}

.range-slider .range-slider__thumb {  
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

.range-slider__thumb::after {  
  content: attr(data-label);  
  font-size: c;  
  white-space: nowrap;  
}

.group-button {  
  width: calc((var(--u) * 0.625) * 2);  
  height: calc(var(--u) * 1.25);  
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
  border: calc(var(--u) * 0.025) solid black;  

  img {
    width: calc(var(--u) * 1.225);
    height: calc(var(--u) * 1.225);
    box-sizing: border-box;
  }
}  

/* .button-grid-parent {
  position: relative;
} */

.button-grid {
  display: grid;
  position: absolute;
  top: 0;
  z-index: 10;

  .intervals, .octaves, .sounds {
    width: calc(var(--u) * 0.625);
    height: calc(var(--u) * 0.625);
  }
}

.piano {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(var(--u) * 1.25);
}

.key {
  cursor: pointer;
  border: calc(var(--u) * 0.025) solid black;
  box-sizing: border-box;  
  text-align: right;
}

.white {
  height: calc(var(--u) * 0.625);
  background: white;
}

.active {
  background: green;
}

.black {
  height: calc(var(--u) * 0.375);
  width: 60%;

  background: black;
  color: white;

  margin-top: calc(var(--u) * (-0.2));
  margin-bottom: calc(var(--u) * (-0.2));

  z-index: 1;
}

.black.active {
  background: darkgreen;
}


#timeline-container {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

#timeline {
  z-index: 0;
}


#timeline-piano-container {
  position: sticky;
  left: 0;
  width: 60;
  min-width: 60;
  flex-shrink: 0;
}

#timeline-piano {
  width: calc(var(--u) * 1.25);
  min-width: calc(var(--u) * 1.25);
  height: calc(var(--u) * 40);
  top: 0;

  position: sticky;
  left: 0;
  flex-shrink: 0;

  button {
    cursor: default;
  }
}

#timeline-grid-container {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  border-right: none;
}

#timeline-grid {
  position: relative;
}

.timeline-grid-row {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #363636;
  box-sizing: border-box;
}

.hit {
  position: absolute;
  background: red;
  border-radius: 2;
}