:root {
  --u: 40px;
  --slider-w: calc(var(--u) * 4);
  --label-w: calc(var(--u) * 1.5);
  --piano-w: calc(var(--u) * 1.25);
}

body {
  background-color: black;
  color: white;
  padding-top: calc(var(--u) * 3);
}

button {
  border: calc(var(--u) * 0.025) solid black;
}

.section {
  margin: calc(var(--u) * 0.125)
}

#voice {
  width: fit-content;
  height: fit-content;
  font-size: calc(var(--u) * 0.35);
  padding: calc(var(--u) * 0.125);
  border: calc(var(--u) * 0.125) groove rgb(68, 14, 14);
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
}

.justified {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.range-slider__thumb::after {  
  content: attr(data-label);  
  font-size: c;  
  white-space: nowrap;  
}

#sliders {
  padding-bottom: calc(var(--u) * 0.125);
}

.button-label {
  width: var(--label-w);
}


.slider {
  width: var(--slider-w);
  margin: calc(var(--u) * 0.25) calc(var(--u) * 0.125);
  text-align: center;
}

.slider-label {
  text-align: right;
  width: calc(var(--u) * 1.25);
  display: flex;  
  align-items: center;  
  justify-content: right;  
}

.range-slider .range-slider__thumb {  
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

button img {
  pointer-events: none;
}

.button-group {
  height: calc(var(--u) * 0.625);
}

.button-grid {
  display: grid;
  position: absolute;
  top: 0;
  z-index: 10;
}

.left {
  right: 0px;
  top: calc(var(--u) * 0.625);
}

.center, .right {
  top: calc(var(--u) * 0.625);
  left: calc(var(--u) * (-1.25));
}

.parent {
  position: relative;
}

.group-button {  
  width: calc((var(--u) * 0.625) * 2);  
  height: calc(var(--u) * 1.25);  
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
  border: calc(var(--u) * 0.025) solid black;  
}  

.group-button img {
  width: calc(var(--u) * 1.225);
  height: calc(var(--u) * 1.225);
  box-sizing: border-box;
}

#intervals, #octaves, #sounds {
  width: calc(var(--u) * 0.625);
  height: calc(var(--u) * 0.625);
}

#header {
  text-align: center;
  padding-top: calc(var(--u) * 0.25);
  z-index: 100;  
  background-color: black;
  position: fixed;  
  top: 0;  
  left: 0;  
  width: 100%;  
}

#title {
  margin: calc(var(--u) * 0.25);
}

.centred {
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

.header-button {
  background-color: black;
  width: calc(var(--u) * 2.5);
  margin: calc(var(--u) * 0.25);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.piano {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: calc(var(--u) * 0.625);
  width: calc(var(--u) * 1.25);
}

#timeline-piano {
  /* position: relative; */
  width: calc(var(--u) * 1.25);
  min-width: calc(var(--u) * 1.25);
  height: 1596px; /* 133 notes x 12px */
  z-index: 0;
  top: 0;

  position: sticky;
  left: 0;
  /* width: pianoWidth; */
  /* min-width: pianoWidth; */
  flex-shrink: 0;
  z-index: 20;

  button {
    cursor: default;
  }
}

.key {
  cursor: pointer;
  border: calc(var(--u) * 0.025) solid black;
  box-sizing: border-box;  
}

.white {
  height: calc(var(--u) * 0.625);
  background: white;
}

.black {
  height: calc(var(--u) * 0.375);
  width: 60%;

  background: black;
  color: white;

  margin-top: calc(var(--u) * (-0.2));
  margin-bottom: calc(var(--u) * (-0.2));

  z-index: 1;
}



.active {
  background: green;
}

.black.active {
  background: darkgreen;
}

#voices {
  margin-top: calc(var(--u) * 0.5)
}

#timeline-container {
  display: flex;
  height: 1596px; /* 133 notes x 12px */
  overflow-y: 'auto';
  overflow-x: 'hidden';
}

#timeline {
  z-index: 0
}