body {
  background-color: black;
  color: white;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.inner-row {
  height: 29px
}

.column {
  column-width: auto;
  padding: 5px
}

.voice {
  border: 1px dotted red;
  padding: 5px;
  width: 560px;
  margin: auto
}

.textbox {
  width: 60px
}

.label {
  width: 100px;
  padding: 5px;
  height: 19px;
  text-align: right
}

#delete-voice {
  height: 29px
}